<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diego Rodriguez - Fullstack Developer</title>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/theme.css">
</head>

<body class="light-theme">
    <header>
        <div class="theme-switch" aria-label="Theme toggle">
            <input type="checkbox" id="theme-toggle" aria-label="Toggle dark mode" />
            <label for="theme-toggle" class="switch" tabindex="0"></label>
        </div>
    </header>
    <div class="hero">
        <div class="hero__info">
            <h3>Diego Rodriguez</h3>
            <h3>Full Stack Developer</h3>
            <h3>Based in Brazil</h3>
        </div>
        <div class="split-pane-divider" aria-hidden="true"></div>
        <div class="hero__actions">
            <button class="hero__button">WORK</button>
            <button class="hero__button">ABOUT</button>
            <button class="hero__button">CONTACT</button>
        </div>
    </div>
</body>
<script src="/static/js/theme.js" defer></script>

</html>